<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <input name="name" [(ngModel)]="task.name" class="form-control" type="text" placeholder="Task Name" />
            </div>
            <div class="mb-3">
                <textarea name="desc" [(ngModel)]="task.desc" class="form-control" rows="3" placeholder="Task Description"></textarea>
            </div>
            <div class="mb-3">
                <input name="priority" [(ngModel)]="task.priority" class="form-control" type="number" placeholder="Task Priority" />
            </div>
            <div>
               <button (click)="addTask()" class="btn btn-info btn-block">Add Task</button>
            </div>
        </form>
    </div>
</div>